<html>
    <head>
        <title> Wright & Co. Law Offices </title>
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Smooch+Sans:wght@100..900&display=swap" rel="stylesheet">
        <!-- remember to route relative to index.php  -->
        <script type="text/javascript" src="./assets/js/homepage.js"></script>
        <script src="https://code.jquery.com/jquery-3.7.1.min.js"></script>
        <link rel="stylesheet" href="./assets/styles/styles.css">
    </head>


    <body>

    <div class ="header">

        <a href="/" style="color:#8B0000;" >Home</a>
        <a href="/attorneys" style="color:#8B0000;" >Attorneys</a>
        <a href="/contacts" style="color:#8B0000;" >Contact</a>

    </div>

    <div class ="logo">

        <p class ="new-font logo">Wright and Co.</p>

        <p style="color:#0C06F7;text-align:left">CALL TODAY - AVAILABLE 24/7</p>


    </div>

    <h1><b>Wright and Co. Law Offices</b></h1>
    <p>
        <i>Falsely accused of a crime and need a defense attorney to defend you in court? We are here to help! We have a solid track record of successfully defending our clients. We will go over your claim with you for FREE, and you won't pay a fee unless we win your case.</i>
    </p>

        <div class="image">

            <img width ="480" height ="270" src ="./assets/images/lawyer.png" alt="The best law office in town"/>

        </div>

    <h2><b>Location and Office Number</b></h2>
    <p>
        The Wright and Co. Law Offices is located in Midtown Manhattan, in proximity to Park Avenue and the Museum of Modern Art. We plan on expanding the law firm and opening more locations in the future to increase accessibility for our clients. If you have any questions, call us at <b>(800) 888-8888</b>.
    </p>

    <br>

        <div class="image">

            <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d48360.3497953042!2d-74.02512341738594!3d40.75054539824483!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x89c25901a4127ca9%3A0xbecdcc9081d6cfdb!2sMidtown%20Manhattan%2C%20New%20York%2C%20NY!5e0!3m2!1sen!2sus!4v1745089775179!5m2!1sen!2sus" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>

        </div>

    </body>

</html>

